<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
<% if user_signed_in? %> 





<div id="year_selection_area" class="controls text-center">
              
                
                      <select class="form-control " name="Legislation year" id="dueYear">
                          <OPTION VALUE='2017' >2017</OPTION>
                          <OPTION VALUE='2016' >2016</OPTION>
                          <OPTION VALUE='2015'>2015</OPTION>
                          <OPTION VALUE='2014' >2014</OPTION>
                          <OPTION VALUE='2013'>2013</OPTION>
                          <OPTION VALUE='2012' >2012</OPTION>
                          <OPTION VALUE='2011'>2011</OPTION>
                          <OPTION VALUE='2010'>2010</OPTION>
                          <OPTION VALUE='' DISABLED>MORE YEARS ADDED SOON</OPTION>
                      </select>
                      </div>
    
      <script  type="text/javascript">
       jQuery(document).ready(function($) {
       	var myVar = localStorage['myKey'] || '2016';
       	
         $('.form-control option[value='+myVar+']').attr('selected','selected');
         
       });
      

       $( ".form-control" ).change(function() {
			  var selectedValue = $(".form-control").val();
			  localStorage['myKey'] = selectedValue;
			});

      </script>
      <%end%>


<hr>
<p>
  <strong>Content:</strong>
  <%= raw @page.content %>
</p>
</div>



<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
