<div class= " hidden-print">
<%= link_to 'Edit', edit_page_path(@page) %> 
</div>
<p id="notice"><%= notice %></p>
<div class="container">
  
<p class= " hidden-print">


  <%= link_to_unless_current("Home", root_path) %>
<% 
parentingArray = []
if @page.parentPage!=nil
@parent = Page.find(@page.parentPage)
parentingArray.push(@parent)
end
if parentingArray[0]!=nil
while parentingArray[parentingArray.size-1].parentPage!=nil
@parent = Page.find(parentingArray[parentingArray.size-1].parentPage)
parentingArray.push(@parent)
end
end
%> 
<% parentingArray.reverse_each do |page| %>
  >> <%= link_to page.title, page%>

<%end%>

  >>
  <%= @page.title %>
</p> 
<%if @page.template=="Listing"%>
<% childrenPages = Page.where(:parentPage => @page.id)%>

<% childrenPages.each do |child|%>
<%= link_to child.title, child%><br>

<%end%>

<%else%>


    <div class="btn-group pull-right hidden-print">
        <%if @page.id>3%>
        <% prevPage = Page.find(@page.id-3)%>
        <% if prevPage.parentPage == @page.parentPage%>
         <%= link_to  prevPage, class: "btn btn-default" do %>
            <i class="fa fa-caret-left fa-lg"></i>
          <%end%>
          <%end%>
          <%end%>

                  

        
        
        <a href="javascript:window.print()" class="btn btn-default"><i class="fa fa-print fa-lg"></i></a>
        <a href="javascript:emailCurrentPage()" class="btn btn-default"><i class="fa fa-envelope-o fa-lg"></i></a>
       
        <%= link_to page_path(@page, :format => 'pdf') , target: "_blank", class: "btn btn-default" do %>
            <i class="fa fa-file-pdf-o"></i> 
          <% end %>
          
          <%comandguidpages = Page.where(parentPage: @page.id)%>
          <% comandguidpages.each do |page| %>
              
              <%if page.title.include? " Commentary - Taxworld Ireland"%>
                <%= link_to "Commentary", page , class: "btn btn-default"%>

                <%elsif page.title.include? " Guidance Notes - Taxworld Ireland"%>
                <%= link_to "Guidance note", page , class: "btn btn-default"%>
                <%end%>
              
            <% end %>




        <% nextPage = Page.find(@page.id+3)%>
           <% if nextPage.parentPage == @page.parentPage%>
          <%= link_to  nextPage, class: "btn btn-default" do %>
            <i class="fa fa-caret-right fa-lg"></i>
          <%end%>
          <%end%>

          
          
     </div>

      <div id="year_selection_area" class="controls text-center">


      <select class="form-control " name="Legislation year" id="dueYear">
          <OPTION VALUE='2017' <% if !user_signed_in? %> DISABLED <%end%>  >2017</OPTION>
          <OPTION VALUE='2016' >2016</OPTION>
          <OPTION VALUE='2015' <% if !user_signed_in? %> DISABLED <%end%>>2015</OPTION>
          <OPTION VALUE='2014' <% if !user_signed_in? %> DISABLED <%end%>>2014</OPTION>
          <OPTION VALUE='2013' <% if !user_signed_in? %> DISABLED <%end%>>2013</OPTION>
          <OPTION VALUE='2012' <% if !user_signed_in? %> DISABLED <%end%>>2012</OPTION>
          <OPTION VALUE='2011' <% if !user_signed_in? %> DISABLED <%end%>>2011</OPTION>
          <OPTION VALUE='2010' <% if !user_signed_in? %> DISABLED <%end%>>2010</OPTION>
          <OPTION VALUE='2009' <% if !user_signed_in? %> DISABLED <%end%>>2009</OPTION>
          <OPTION VALUE='2008' <% if !user_signed_in? %> DISABLED <%end%>>2008</OPTION>
          <OPTION VALUE='2007' <% if !user_signed_in? %> DISABLED <%end%>>2007</OPTION>
          <OPTION VALUE='2006' <% if !user_signed_in? %> DISABLED <%end%>>2006</OPTION>
          <OPTION VALUE='2005' <% if !user_signed_in? %> DISABLED <%end%>>2005</OPTION>
          <OPTION VALUE='2004' <% if !user_signed_in? %> DISABLED <%end%>>2004</OPTION>
          <OPTION VALUE='2003' <% if !user_signed_in? %> DISABLED <%end%>>2003</OPTION>
          <OPTION VALUE='2002' <% if !user_signed_in? %> DISABLED <%end%>>2002</OPTION>
          <OPTION VALUE='2001' <% if !user_signed_in? %> DISABLED <%end%>>2001</OPTION>
          <OPTION VALUE='2000' <% if !user_signed_in? %> DISABLED <%end%>>2000</OPTION>
          <OPTION VALUE='1999' <% if !user_signed_in? %> DISABLED <%end%>>1999</OPTION>
          <OPTION VALUE='1998' <% if !user_signed_in? %> DISABLED <%end%>>1998</OPTION>
          <OPTION VALUE='1997' <% if !user_signed_in? %> DISABLED <%end%>>1997</OPTION>
          <% if !user_signed_in? %>
           <OPTION VALUE='' DISABLED>BACK YEARS AVAILABLE TO MEMBERS ONLY</OPTION>
           <%end%>
           <% if user_signed_in? %>
          <OPTION VALUE='' DISABLED>MORE YEARS ADDED SOON</OPTION>
          <%end%>
      </select>
      </div>
                   

    
      <script  type="text/javascript">

      function alertOptionValue(node_id){
        //restore to origional
        var list = document.getElementsByTagName('span'); 
        for (var i = 0; i < list.length; ++i) {
          list[i].removeAttribute("style");
          }
        
         //take in value of year selected
         var dueDateYear = localStorage['myKey'];
         //make it a string variable
         var n = dueDateYear.toString();
         //create name for a class
         var spanaddedtobeshown="added-"+n;
         //get all elements with that class
         var x=document.getElementsByClassName(spanaddedtobeshown);
         // apply style to each
         for (var i = 0; i < x.length; ++i) {
            x[i].style.backgroundColor = 'rgba(70, 191, 63, 0.53)';
          }
          //value selected used to highlight removed content that year
          var b = dueDateYear;
          var highlightremovedyearbefore= "removed-"+b.toString();
          // find all elements removed this year and highlight in red
          var y=document.getElementsByClassName(highlightremovedyearbefore);
          for (var i = 0; i < y.length; ++i) {
            //y[i].style.display = 'none';
            y[i].style.backgroundColor = 'rgba(193, 66, 66, 0.53)';
            y[i].className += " hidden-print";

            }
           //find all elements removed more than 1 years ago and hide them
            for(var n = 1; n < 21; ++n){
              var d = dueDateYear-n;
              
              var doNotDisplaySpansRemovedMoreThanYearAgo= "removed-"+d.toString();
              var z=document.getElementsByClassName(doNotDisplaySpansRemovedMoreThanYearAgo);
                for (var i = 0; i < z.length; ++i) {
                  z[i].style.display = "none";
                }
            // hide elements added after the year selected
              var k = parseInt(dueDateYear)+parseInt(n);
              var doNotDisplaySpansAddedAfter= "added-"+k.toString();
              var follow=document.getElementsByClassName(doNotDisplaySpansAddedAfter);
                for (var i = 0; i < follow.length; ++i) {
                  follow[i].style.display = "none";
                }
            }
            }
            // email section/explanatory page
            function emailCurrentPage(){
              var mailto_link = 'mailto:'+""+'?subject=<%=@page.title%> - Taxworld&body=I thought this section may be of interest to you as it was in '+ localStorage['myKey'] + ' : %0D%0A' + escape(window.location.href) + '%0D%0A'+ '%0D%0APlease remember to view back years you have to be signed in with a valid membership.' + '%0D%0A' +'Taxworld Team'  ;
              var win = window.open(mailto_link,'emailWindow');
            }
            
          window.onload = function() {
            alertOptionValue(localStorage['myKey']);
            };
           
           jQuery(document).ready(function($) {
            
            
            var myVar = localStorage['myKey'];
            
       	
             $('.form-control option[value='+myVar+']').attr('selected','selected');
             alertOptionValue(localStorage['myKey']);

           });
      

       $( ".form-control" ).change(function() {
			  var selectedValue = $(".form-control").val();
			  localStorage['myKey'] = selectedValue;
        $(".hidden-print").removeClass("hidden-print");
        alertOptionValue(localStorage['myKey']);
        
			});

      </script>
      


<hr>

  <strong>Content:</strong>
  <div >
    <%= raw @page.content %>
  </div>

</div>
<%end%>




