<!DOCTYPE html>
<html>
  <head>
    <title>PagesWithPreviousYears</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<div class="container-fluid">
<div class="desktop-header-taxworld-logo hidden-xs hidden-sm">
      <a href="/"> 
        <img src="https://dvxtob0ynon8t.cloudfront.net/Taxworld-logo.svg" alt="Taxworld Logo">
      </a>
    </div>

<div class="btn-group pull-right visible-md-inline-block visible-lg-inline-block desktop-header-status-buttons  hidden-print" role="group">
      <a href="/" title="Home" class=" btn btn-default"><i class="fa fa-home fa-taxworld-icon"></i></a>
      <a href="https://twitter.com/taxworldie" title="Twitter" target="_blank" class="btn btn-default"><i class="fa fa-twitter fa-taxworld-icon"></i></a>
      <a href="https://www.linkedin.com/company/taxworld-ltd" title="LinkedIn" target="_blank" class="btn btn-default"><i class="fa fa-linkedin fa-taxworld-icon"></i></a>
      <% if user_signed_in? %> 

        <a href="/users/sign_out" class="btn btn-primary">Logout</a>
        <a href="/users/edit/" class="btn btn-default">Edit Your profile</a>
                   
        <% else %>
        

        <a href="/users/sign_in" class="btn btn-primary">Sign in</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign up</a>
        <% end %> 
    </div>

 <div class="text-center visible-xs-block visible-sm-block mobile-header-status-buttons  hidden-print">
      <div class="btn-group" role="group">
        <a href="/" title="Home" class=" btn btn-default"><i class="fa fa-home fa-taxworld-icon"></i></a>
        <a href="https://twitter.com/taxworldie" title="Twitter" target="_blank" class="btn btn-default"><i class="fa fa-twitter fa-taxworld-icon"></i></a>
        <a href="https://www.linkedin.com/company/taxworld-ltd" title="LinkedIn" target="_blank" class="btn btn-default"><i class="fa fa-linkedin fa-taxworld-icon"></i></a>
        
        

        <% if user_signed_in? %> 

        <a href="/users/sign_out" class="btn btn-primary">Logout</a>
        <a href="/users/edit/" class="btn btn-default">Edit Your profile</a>
                   
        <% else %>
        

        <a href="/users/sign_in" class="btn btn-primary">Sign in</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign up</a>
        <% end %> 
      </div>
    </div>
        
        <%= render "layouts/header-navigation-bar" %>

<%= yield :top_content %>

<div class="container">
   
  
</div>
    <%= yield %>
  </div>
  </body>
</html>
