<!DOCTYPE html>
<html>
  <head>
    <title>PagesWithPreviousYears</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>
        <% if user_signed_in? %> 
        <a href="/users/sign_out" class="btn btn-default">Sign out</a>
        <a href="/users/<%= current_user.id %>/edit/" class="btn btn-default">Edit Your profile</a>
                   
        <% else %>
        

        <a href="/users/sign_in" class="btn btn-default">Sign in</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign up</a>
        <% end %> 

<%= yield :top_content %>

<div class="container">
   
  
</div>
    <%= yield %>
  </body>
</html>
